// body : start
body { 
	font: 12px/1.5em "{select:Body Font}",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: {color:text};
	font-size: 15px;

	cursor: default; 
	-webkit-animation:intro 3s;
	-moz-animation:intro 3s;
	-ms-animation:intro 3s; 
}
//body : end

// back to top button : start
#back2Top {
	width: 40px;
	line-height: 40px;
	overflow: hidden;
	z-index: 999;
	display: none;
	cursor: pointer;
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	position: fixed;
	bottom: 50px;
	right: 10px;
	background-color: #DDD;
	color: #555;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}
            
            
#back2Top:hover {
	background-color: #DDF;
	color: #000;
}
//back to top button : end

//animation : start
	@-webkit-keyframes intro { 0% {opacity: 0;} 100% {opacity: 1;} }
	@-moz-keyframes intro { 0% {opacity: 0;} 100% {opacity: 1;} }
	@-ms-keyframes intro { 0% {opacity: 0;} 100% {opacity: 1;} }
	@-o-keyframes intro { 0% {opacity: 0;} 100% {opacity: 1;} }
	@keyframes intro { 0% {opacity: 0;} 100% {opacity: 1;} }
//animation : end
